:root {
    --black-100: hsla(0, 0%, 0%, 1);
    --black-200: hsla(0, 0%, 10%, 1);
    --black-300: hsla(0, 0%, 14%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --blue-100: hsla(212, 100%, 97%, 1);
    --blue-200: hsla(196, 100%, 89%, 1);
    --blue-300: hsla(211, 100%, 50%, 1);
    --blue-400: hsla(218, 84%, 54%, 1);
    --blue-500: hsla(217, 70%, 47%, 1);
    --green-100: hsla(152, 100%, 95%, 1);
    --green-200: hsla(153, 78%, 76%, 1);
    --green-300: hsla(153, 64%, 66%, 1);
    --green-400: hsla(158, 72%, 48%, 1);
    --purple-100: hsla(276, 100%, 98%, 1);
    --purple-200: hsla(276, 91%, 91%, 1);
    --purple-300: hsla(265, 86%, 86%, 1);
    --purple-400: hsla(262, 81%, 77%, 1);
    --purple-500: hsla(270, 100%, 48%, 1);
    --purple-600: hsla(270, 94%, 45%, 1);
    --purple-800: hsla(270, 81%, 31%, 1);
    --red-100: hsla(336, 100%, 96%, 1);
    --red-200: hsla(335, 42%, 79%, 1); 
    --red-300: hsla(345, 92%, 75%, 1);
    --red-400: hsla(345, 95%, 64%, 1); 
    --red-500: hsla(0, 81%, 38%, 1); 
    --yellow-100: hsla(53, 100%, 85%, 1);
    --yellow-200: hsla(53, 100%, 82%, 1);
    --yellow-300: hsla(53, 100%, 79%, 1);
    --yellow-400: hsla(53, 100%, 65%, 1);
    --tint-50: hsla(240, 100%, 29%, 0.015);
    --tint-100: hsla(240, 100%, 29%, 0.025);
    --tint-200: hsla(240, 100%, 20%, 0.07);
    --tint-300: hsla(255, 100%, 20%, 0.1);
    --tint-400: hsla(252, 100%, 20%, 0.2);
    --tint-500: hsla(249, 64%, 22%, 0.35);
    --tint-600: hsla(252, 56%, 18%, 0.5);
    --tint-700: hsla(246, 71%, 14%, 0.75);
    --gray-50: hsla(0, 0%, 99%, 1);
    --gray-100: hsla(240, 45%, 98%, 1);
    --gray-200: hsla(240, 26%, 95%, 1);
    --gray-300: hsla(258, 24%, 92%, 1);
    --gray-400: hsla(255, 24%, 84%, 1);
    --gray-500: hsla(248, 17%, 73%, 1);
    --gray-600: hsla(252, 12%, 59%, 1);
    --gray-700: hsla(246, 21%, 35%, 1);
    --gray-800: hsla(247, 27%, 25%, 1);
    --font-size-small: .8em;
    --font-size-small-x: .9em;
    --font-size-initial: 1em;
    --font-size-medium-x: 1.1em;
    --font-size-medium-xx: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-large: 1.4em;
    --font-size-large-x: 1.5em;
    --font-size-large-xx: 1.6em;
    --font-size-large-xxx: 1.8em;
    --font-size-large-xxxx: 2em;
}

.dark-mode {
    --dark-blue-100: hsla(204, 100%, 21%, 1);
    --dark-blue-200: hsla(204, 83%, 28%, 1);
    --dark-blue-300: hsla(204, 65%, 29%, 1);
    --dark-blue-400: hsla(204, 66%, 52%, 1);
    --dark-blue-500: hsla(204, 66%, 57%, 1);
    --dark-blue-600: hsla(204, 50%, 56%, 1);
    --dark-blue-700: hsla(204, 94%, 80%, 1);
    --dark-gray-100: hsla(0, 0%, 25%, 1);
    --dark-gray-200: hsla(0, 0%, 32%, 1);
    --dark-gray-300: hsla(0, 0%, 41%, 1);
    --dark-gray-400: hsla(0, 0%, 54%, 1);
    --dark-gray-500: hsla(0, 0%, 62%, 1);
    --dark-gray-600: hsla(0, 0%, 73%, 1);
    --dark-gray-700: hsla(0, 0%, 81%, 1);
    --dark-green-100: hsla(132, 100%, 43%, 1);
    --dark-green-200: hsla(132, 88%, 44%, 1);
    --dark-green-300: hsla(132, 90%, 59%, 1);
    --dark-green-400: hsla(132, 100%, 64%, 1);
    --dark-green-500: hsla(132, 100%, 71%, 1);
    --dark-green-600: hsla(132, 100%, 80%, 1);
    --dark-green-700: hsla(132, 100%, 88%, 1);
    --dark-purple-100: hsla(275, 96%, 10%, 1);
    --dark-purple-200: hsla(276, 93%, 16%, 1);
    --dark-purple-300: hsla(275, 86%, 25%, 1);
    --dark-purple-400: hsla(266, 71%, 34%, 1);
    --dark-purple-500: hsla(270, 55%, 37%, 1);
    --dark-purple-600: hsla(270, 51%, 49%, 1);
    --dark-purple-700: hsla(270, 48%, 60%, 1);
    --dark-red-100: hsla(355, 100%, 50%, 1);
    --dark-red-200: hsla(0, 85%, 55%, 1); 
    --dark-red-300: hsla(0, 89%, 61%, 1);
    --dark-red-400: hsla(0, 84%, 71%, 1); 
    --dark-red-500: hsla(0, 100%, 81%, 1);
    --dark-red-600: hsla(0, 100%, 86%, 1);
    --dark-red-600: hsla(0, 100%, 91%, 1);
    --dark-red-700: hsla(0, 100%, 95%, 1);
    --dark-yellow-100: hsla(55, 100%, 50%, 1);
    --dark-yellow-200: hsla(55, 98%, 54%, 1);
    --dark-yellow-300: hsla(55, 100%, 63%, 1);
    --dark-yellow-400: hsla(55, 100%, 67%, 1);
    --dark-yellow-500: hsla(55, 96%, 74%, 1);
    --dark-yellow-600: hsla(55, 95%, 84%, 1);
    --dark-yellow-700: hsla(55, 100%, 90%, 1);
    --font-size-small: .8em;
    --font-size-small-x: .9em;
    --font-size-initial: 1em;
    --font-size-medium-x: 1.1em;
    --font-size-medium-xx: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-large: 1.4em;
    --font-size-large-x: 1.5em;
    --font-size-large-xx: 1.6em;
    --font-size-large-xxx: 1.8em;
    --font-size-large-xxxx: 2em;
}

* {
    border-width: 0;
    border-style: solid;
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
    background: var(--gray-50);
    color: var(--gray-100);
    font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, 
                  "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    font-size: 10pt;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

body.dark-theme {
    background: var(--black-200);
}

/* GENERAL */

.headline,
.lead {
    text-align: center;
}

.headline {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: 0.8;
    margin-top: 30%;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.lead {
    font-size: 1.7rem;
    text-align: center;
}

h4 {
    font-weight: 600;
}

ul, 
ol {
    font-size: var(--font-size-medium-x);
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    html {
        overflow: hidden;
        overflow-y: scroll;
    }

    body {
        margin: 0 20px;
        max-height: 100%;
    }

    .sidebar {
        display: none;
    }

    .panel {
        position: static;
        width: 100%;
    }

    .frame-main {
        padding: 0;
        margin: 20px 0;
    }

    .details-panel {
        border-color: none;
        border-left-width: 0;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .panel {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
    }

    .sidebar {
        height: 100vh;
        width: 119px;
    }

    .frame-main {
        bottom: 60px;
        left: 148px;
        top: 170px;
        width: 38.5%;
    }
    
    .details-panel {
        bottom: 60px;
        font-family: "Lato";
        left: 43.2%;
        top: 165px;
        margin-left: 71px;
        padding-left: 20px;
        padding-right: 30px;
        padding-top: 5px;
        right: 0;
    }

    /* Manipulate the scroll bar. Only for browsers that use the webkit engine. */
    /* .details-panel::-webkit-scrollbar, 
    .details-panel::-webkit-scrollbar-corner {
        height: 12px;
        width: 12px;
    }

    .details-panel::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, var(--blue-200), var(--blue-300));
        border-radius: 0;
    }

    .details-panel::-webkit-scrollbar-thumb:active {
        background-color: var(--tint-600);      
    }

    .details-panel::-webkit-scrollbar-track {
        background: var(--white);
        border: 1px solid var(--gray-300);
        border-radius: 0;
    } */
}

/* HEADER */

header {
    background: var(--white);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: rgb(136, 136, 136);
    margin-bottom: 20px;
    height: 135px;
    min-height: 135px;
    overflow: hidden;
    padding: 1.8rem;
    padding-top: 2rem;
    text-shadow: none;
    transition: .5s;
    width: 100vw;    
    
    -webkit-text-smoothing: antialiased;
}

.dark-theme header {
    background: var(--black-300);
}

header:hover {
    height: auto;
    z-index: 2;
}

header:hover h1,
header:hover h2 {
    height: auto;
    max-height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.exception-title {
    color: var(--gray-400);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.7;
    margin-top: -2px;
}

.exception-title h1 {
    color: var(--tint-500); 
    display: inline;
    font-weight: 600;
}

.dark-theme .exception-title h1 {
    color: var(--red-100);
}

.exception-title span {
    color: var(--green-200);
    letter-spacing: -1px;
}

.exception-message h2 {
    color: var(--gray-700);
    font-weight: 600;
    margin-top: -2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 60%;
}

.dark-theme .exception-message h2 {
    color: var(--white);
}

.plain-exception {
    display: none;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    header {
        background-position: 96% 0;
        height: auto;
        min-height: 12px;
        margin: 0 -20px;
    }

    .exception-title {
        font-size: var(--font-size-initial);
    }

    .exception-title {
        line-height: 25px;
    }

    .exception-title h1,
    .exception-title h2 {
        font-size: var(--font-size-initial);
    }

    .exception-message h2 {
        font-size: var(--font-size-medium-x);
        width: 95%;
    }

}

/* WIDE */
@media (min-width: 1100px)
{
    header {     
        background-position: 99% 0;  
        position: fixed; 
        left: 120px;
        right: 0;
        top: 0;
    }

    .exception-title h1 {
        font-size: var(--font-size-initial);
    }

    .exception-title span {
        font-size: var(--font-size-small);
    }

    .exception-message h2 {
        font-size: var(--font-size-large-xxx);
    }
}

/*SIDEBAR */
.sidebar {
    background: var(--white);
    box-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.06);
    position: fixed;
}

.dark-theme .sidebar {
    background: var(--black-300);
}

.sidebar .brand {
    background: linear-gradient(236deg, var(--white) 10%, var(--gray-100));
    box-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.06);
    display: grid;
    padding: 22px 21px 0;
    position: relative;
}

.sidebar .brand svg {
    height: 113px;
    width: 108px;
}

nav {
    background: transparent;
    display: inline-block;
    overflow: hidden;    
    position: relative;
    top: -1px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    cursor: pointer;
    list-style: none;
	transition: all ease-out 120ms;
}

nav ul li a {
    color: var(--gray-600);
    text-shadow: none;
    display: block;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: -0.5px;
    overflow: hidden;
    margin-top: 1px;
    padding: 19px 20px 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.dark-theme nav ul li a {
    color: var(--gray-300);
}

nav ul li a:hover {
    background: var(--gray-100);
    color: var(--tint-700);
}

.dark-theme nav ul li a:hover {
    background: var(--black-200);
    color: var(--gray-400);
}

nav ul li a:hover svg {
    stroke: var(--gray-700);
}

.dark-theme nav ul li a:hover svg {
    stroke: var(--gray-400);
}

nav ul li a.active {
    background: var(--tint-700);
    color: var(--white);
    cursor: default;
    font-weight: 600;
    pointer-events: none;
}

.dark-theme nav ul li a.active {
    background: var(--blue-300);
}

nav ul li a.active svg {
    stroke: var(--gray-700);
}

.dark-theme nav ul li a.active svg {
    stroke: var(--blue-300);
}

nav ul li svg {
    display: block;
    margin: 0 auto;
    stroke: var(--gray-500);
}

.dark-theme nav ul li svg {
    stroke: var(--gray-300);
}

nav ul li:nth-child(1) a:hover {
    box-shadow: 1px 0 0 hsla(0, 0%, 0%, 0.06);
}

nav ul li:nth-child(3) svg {
    font-weight: 400;
    stroke: var(--gray-50);
}

.dark-theme nav ul li:nth-child(3) svg {
    fill: var(--gray-50);
}

.dark-theme nav ul li:nth-child(3) a:hover svg {
    fill: var(--gray-400);
}

nav ul li:nth-child(4) svg {
    font-weight: 400;
    fill: var(--gray-200);
}

.dark-theme nav ul li:nth-child(4) a:hover svg {
    fill: var(--gray-400);
}

/* FRAMES */

.frame-main {
    background: var(--white);
    border-bottom: solid 3px var(--tint-500);
    border-radius: 3px;
    border-top: solid 3px var(--tint-500);
    box-shadow: 0 1px 1px var(--gray-300), 
                1px 1px 0 var(--gray-300), 
                -1px 1px 0 var(--gray-300), 
                0 0 0 1px var(--gray-100);
    overflow-y: hidden;
    padding: 10px 10px 50px;
}

.frame-description {
    background: var(--gray-50);
    border-bottom: solid 1px var(--gray-300);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); 
    height: 40px;
    line-height: 1.6;
    margin: -10px -10px 10px;
    min-width: 100%;
    text-align: justify;
}

.frame-description.frame-description-application {
    color: var(--gray-500);
    display: flex;    
    font-size: var(--font-size-small-xx);
    font-weight: 400;
    justify-content: space-between;
    text-decoration: none;
    text-shadow: none; /*text-shadow: 0 1px 0 rgba(236, 236, 236, 0.6);*/
}

.frame-description-application span {
    padding: 8px 10px;
}

/* Icon border */
.frame-description-application .icon-holder:last-child {
    *border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.frame-container-scroll {
    background: var(--blue-100);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 -1px 0 var(--gray-300), 
                -1px 1px 0 var(--gray-300), 
                0 -1px 0 var(--gray-300), 
                1px 1px 0 var(--gray-300);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Manipulate the scroll bar. Only for browsers that use the webkit engine. */
.scrollbar::-webkit-scrollbar, 
.scrollbar::-webkit-scrollbar-corner {
    height: 4px;
    width: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--gray-400), var(--gray-300));
    border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb:active {
    background: var(--gray-500);      
}

.scrollbar::-webkit-scrollbar-track {
    background: var(--white);
    border-left: 1px solid var(--gray-300);
    border-bottom-right-radius: 2px;
}

.frame {
    align-items: flex-end;
    background: var(--white);  
    background: linear-gradient(top, rgb(248, 248, 248) 80%, rgb(240, 240, 240));
    border-bottom-width: 0.5px;
    border-color: var(--gray-100);
    cursor: pointer;
    display: grid;
    font-weight: 600;
    grid-template-columns: 4rem auto auto;
    overflow: hidden;    
    transition: all 0.1s ease;
    text-shadow: none;    
}

.frame:last-child {
    border-bottom-width: 1px;
}

.frame.active {
    background: var(--purple-100);
    border-bottom-width: 0.5px;
    border-color: var(--gray-200);
    box-shadow: inset 0 0.5px 0 var(--gray-200);
}

.frame:not(.active):nth-child(1) {
    border-top-width: 0;
}

.frame:not(.active):hover {
    background: var(--gray-100);
}

.frame:not(.active):hover .frame-file {
    color: rgb(136, 136, 136);
}

.frame.active .frame-index {
    background: rgb(253, 253, 253);  
    color: var(--gray-600);
}

.frame.active .frame-method-info {
    border-color: var(--gray-400);
    border-left-width: 2px;
}

.frame.active .frame-file {
    color: var(--purple-800);
    text-shadow: none;
}

.frame-main-index {
    align-items: center;
    display: grid;
    height: 100%;
    justify-content: center;
}

.frame-index { 
    background: var(--gray-200);
    border: 2px solid var(--gray-500); 
    border-radius: 100%; 
    color: var(--tint-600);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
}

.frame-method-info {
    display: grid;
    align-items: center;
    border-color: var(--gray-200);
    border-left-width: 2px;
    grid-gap: 0.5rem;
    padding-left: 0.75rem;
}

.frame-file {
    font-weight: 700;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
}

.frame-file,
.frame-class,
.frame-function,
.frame-function-optional {
    color: var(--gray-600);
    font-size: var(--font-size-small-x);
}

.frame-info-class {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.frame-class,
.frame-function {
    opacity: 0.75;
    position: relative;
}

.frame-class:before,
.frame-function:before {
    border-radius: 2px;
    color: var(--tint-700);
    font-size: var(--font-size-small);
    font-weight: 600;
    display: inline-block;
    height: 5px;
    line-height: 0.3;
    padding: 5px 1px;
    position: absolute;
    text-align: center;
    top: 10px;
}

.frame-class {
    left: 40px;
}

.frame-class:before {    
    background: var(--blue-100);
    border: 1px solid var(--blue-200);
    content: 'Class';
    left: -40px;
    width: 30px;
}

.frame-function {
    left: 58px;
}

.frame-function:before {
    background: var(--purple-100);
    border: 1px solid var(--purple-200);
    content: 'Function';
    left: -58px;
    width: 48px; 
}

.frame-line-number {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.frame-line {
    background: var(--tint-50);
    color: var(--gray-500);
    font-weight: 400;
    padding-left: 0.25rem;
    position: absolute;
}

.frame-line:before {
    content: ":";
    margin-right: 2px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .frame-main {
        padding: 0;
    }

    .frame-container-scroll {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 300px;
    }

    .frame-description {
        height: 35px;
        margin: 0;
    }

    .frame-description {
        line-height: 1.2;
    }

    .frame-description-application .iconlist {
        display: none;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 0;
    }

    .frame:nth-child(2) {
        margin-top: 1px;
    }

    .frame:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        margin-bottom: 0;
    }

    .frame.active .frame-index,
    .frame .frame-index {
        font-size: 9px;
        height: 18px;
        line-height: 12px;
        text-align: center;
        width: 18px;
    }

    .frame.active .frame-index {
        margin-left: 2px;
    }

    .frame.active .frame-file {
        display: inline-block;
    }

    .frame.active .frame-file,
    .frame.active .frame-class {
        word-break: break-all;
    }

    .frame.active .frame-method-info {
        color: var(--white);
        overflow: hidden;
        padding-left: 0.75rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .frame.active .frame-line-number {
       align-items: flex-end;
       display: flex;
       justify-content: flex-end;
       margin-bottom: 10px;
       margin-right: 10px;
    }

    .frame-method-info {
        grid-gap: 0.1rem;
        padding-bottom: .8rem;
        padding-top: .8rem;
    }

    .frame-file {
        display: none;
    }

    .frame-info-class {
        align-items: flex-start;
        grid-gap: 0;
        grid-template-columns: none;
        margin: auto 0;
    }

    .frame-class:before,
    .frame-function:before {
        margin-top: -8px;
    }

    .frame-class,
    .frame-function {
        text-overflow: ellipsis; 
    }

    .frame-function {
        color: var(--gray-500);
    }

    .frame-line-number {
        margin-bottom: 15px;
        margin-right: 10px;
    }

    .frame-line {
        font-size: var(--font-size-small);
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .frame {
        padding: 0;
        white-space: nowrap;
        word-wrap: none;
    }

    .frame-index { 
        height: 26px;
        text-align: center;
        width: 26px;
    }

    .frame-method-info {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .frame-file {
        font-size: 1em;
        margin-bottom: 0;
    }

    .frame-class,
    .frame-function {
        font-size: 0.9em;
        font-weight: 500;
        height: 1.5em;
        line-height: 2.9;
    }

    .frame-class {
        margin-bottom: 10px;
    }

    .frame-function {
        margin-bottom: 10px;
    }

    .frame-line-number {
        top: -25px;
        right: 10px;
    }
}

/* SOURCE */

.code-source {
    background: var(--gray-50);
    border-bottom: solid 3px var(--tint-500);
    border-radius: 3px;
    border-top: solid 3px var(--tint-500);
    box-shadow: 0 1px 1px var(--gray-300), 
                1px 1px 0 var(--gray-300), 
                -1px 1px 0 var(--gray-300), 
                0 0 0 1px var(--gray-300);
    display: none;
    height: 100%;
    *margin-bottom: 50px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.code-source.active {
    display: block;
}

.title {
    align-items: center;
    border: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: grid;
    font-weight: 200;
    grid-template-columns: auto auto;
    height: 40px;
    justify-content: space-between;
    padding: 0 0 0 10px;
    position: absolute;
    width: 100%;
}

.title-line-number {
    align-items: center;
    display: grid;
    grid-gap: -5rem;
    grid-template-columns: auto 3rem;
}

.title-line-number h4 {
    color: var(--gray-500);
    font-size: var(--font-size-small-xx);
    font-weight: 600;
    line-height: 12px;
    overflow: hidden; 
    padding: 5px;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: pre-line;
}

.title-line-number span {
    color: var(--gray-500);
    font-size: var(--font-size-small-x);
    font-weight: 400;
}

/* Icon border */
.title .icon-holder:last-child {
    border-top-right-radius: 2px;
}

.source {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: hsl(0, 1%, 54%);
    overflow: hidden;
    padding-bottom: 0;
    padding-top: 40px;
    text-shadow: none;
    width: 100%;
}

pre, 
code,
.source span.line,
.source .line .highlight,
.source span.line .number,
.source span.highlight .number {
    font-family: Fira Code, Menlo, monospace;
    font-weight: 600;
    font-size: 13px;
}

.source span.line { 
    line-height: 1.5;
    padding-left: 15px; 
}

.source .number {
    color: rgb(182, 175, 202);
    display: inline-block;
    margin-left: -60px;
    position: absolute;
    width: 60px;
}

.source .line .highlight,
.source span.highlight {
    max-width: 100vw;
}

.source .line .highlight {
    background: rgb(248, 243, 251);
    color: rgb(147, 142, 158);
    display: block; 
    padding-left: 15px; 
}

.source span.highlight {
    margin-right: 1px;
}

.source span.highlight .number {
    background: var(--gray-400);
    color: rgb(142, 121, 168);    
}

.source .number,
.source span.highlight .number {
    padding-right: 8px;
    text-align: right;
}

.code-source span.highlight {
    margin-left: -15px;
}

.code-source span.highlight .number {
    padding-right: 9px;
    width: 61px;
}

pre {
    background: var(--white);
    border-right: 1px solid transparent;
    box-shadow: inset 0 0 0 1px var(--gray-300);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin-left: 60px;
    margin-right: -2px;
    padding-bottom: 12px;
    padding-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;  
}

/* Manipulate the scroll bar. Only for browsers that use the webkit engine. */
pre::-webkit-scrollbar, 
pre::-webkit-scrollbar-corner {
    height: 4px;
    width: 4px;
}

pre::-webkit-scrollbar-thumb {
    background: var(--gray-400);
    border-radius: 0;
}

pre::-webkit-scrollbar-thumb:active {
    background-color: var(--dark-purple-800);      
}

pre::-webkit-scrollbar-track {
    background: var(--white);
    border: 1px solid var(--gray-300);
}

code {
    margin-top: 10px;
    overflow-wrap: break-word;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .code-blocks {
        min-height: 40px;
    }

    .details-panel .frame-description.frame-description-application {
        font-size: var(--font-size-medium);
        padding: 50px 10px 30px;
    }

    .title {
        grid-template-columns: 100% 5rem;
        padding: 10px;
    }

    .title-line-number h4 {
        font-size: var(--font-size-small-x);
    }

    .title-line-number span {
        font-size: var(--font-size-small);
        text-align: right;
    }

    .title .iconlist {
        display: none;
    }

    .frame-noArgument {
        font-size: 11px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .code-blocks {
        height: 63.1vh;
    }
    .code-source {
        left: 0;
    }

    .title-line-number span {
        margin-top: 2px;
    }

    .frame-noArgument {
        font-size: var(--font-size-small-x);
    }
}

/* INFO PANEL DETAILS*/

.details-description {
    padding: 0;
    padding-bottom: 20px;
}

.details-description:after {
    background: rgba(0, 150, 200, 0.05);
    border-radius: 2px;    
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.04), inset 2px 2px 2px rgba(0, 0, 0, 0.07);
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0 0;
    width: 100%;
}

.details-description.details-description-application {
    background: transparent;
    color: rgb(90, 112, 133);
    font-size: var(--font-size-large);
    font-weight: 600;
    letter-spacing: .03rem;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* DATA TABLE */

.content {
    margin: 0;
    padding: 0;
}

.details {
    display: block;
    font-weight: 400;
    overflow: hidden;
    position: relative;  
}

.data-table-container label {
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(79, 113, 126);
    font-size: 16px;
    font-weight: bold;
    margin: 10px;  
    display: block;  
    margin-bottom: 10px;
    padding-bottom: 5px;
}

 .data-table-container label:nth-child(n+1) {
    margin-top: 20px;
}

.data-table {
    margin-bottom: 10px;
    width: 100%;
}

.data-table thead {
    display: none;
}

.data-table tbody {
    font: 13px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}

.data-table tr {
    padding: 5px 0;
}

.data-table td:first-child {    
    color: rgb(96, 88, 107);
    font-weight: bold;    
    min-width: 245px;
    overflow: hidden;
    padding-right: 5px;
    width: 23%;
}

.data-table td:last-child {
    hyphens: auto;
    width: 80%;
    word-break: break-all;
    word-break: break-word;
}

.data-table tbody td {
    padding: 2px 0;
}

.data-table span.empty {
    color: rgb(141, 140, 140);
    font-weight: 300;
}

.data-table label.empty {
    border-bottom: 0;
    display: inline;
}

.data-table .debug-list {
    color: rgb(96, 88, 107);
    text-shadow: none;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/
 
/* SMALL */
@media (max-width: 1100px) 
{ 
    .details {
        margin-bottom: 20px;
        margin-left: -7px;
        margin-right: 0;
        padding: .2em 0 .1em;
    }

    .data-table-container label {
        font-size: var(--font-size-medium-x);
        margin-left: 8px;
        margin-bottom: 0;
    }

    .data-table table {
        padding-left: 10px;
    }

    .data-table tr > td {
        display: block;
    }

    .data-table td:first-child {
        margin-top: 10px;
    }

    .data-table td:last-child {
        width: 100%;
    }

    .data-table .debug-list {
        margin-left: 8px;
        margin-top: 10px;
        word-break: break-all;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .details {
        font-weight: 700;
        padding: .3em 0 .3em;
    }   

    .data-table-container label {
        font-size: var(--font-size-medium);
        margin-left: 2px;
    }
}

/* FOOTER */
footer {
    background: var(--white);
    box-shadow: 1px -1px 0 rgba(0, 0, 0, 0.06);
    min-height: 22px;
    padding: 0 30px;
    position: relative;
    text-shadow: none; 
}

.dark-theme footer {
    background: var(--black-300);
}

.info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.info .name {
    color: var(--gray-600);
    font-weight: 600;
    position: relative;
}

.info .status-code {
    background: rgb(255, 0, 0);
    bottom: 0;
    color: var(--white);
    font-size: 12px;
    padding: 5px;
    position: relative;
    top: -1.5px;
}

.info .benchmark-time,
.info .memory {
    cursor: help;
    color: var(--gray-700);
    font-size: 12px; 
    font-weight: 600;
    padding: 5px;
}

.info .benchmark-time #cronometro,
.info .memory #chipset {
    fill: var(--gray-600);
    height: 16.5px;
    margin-left: 12px;
    margin-top: 1px;
    position: absolute;
    width: 16.5px;
}

.info .benchmark-time span,
.info .memory span {
    margin-left: 35px;
    top: -1.5px;
    position: relative;
}

.info .copy {
    background: var(--tint-100);
    box-shadow: inset 0 1px 5px 1px rgba(26, 44, 66, 0.01),
                inset 1px 0 5px 1px rgba(26, 44, 66, 0.01),
                inset 0 0 5px 1px rgba(26, 44, 66, 0.01),
                inset 1px 1px 5px 1px rgba(26, 44, 66, 0.01);
    color: var(--gray-500);
    font-size: 12px;
    font-weight: 600;    
    padding: 4px;
    padding-left: 35px;
    position: relative;
    width: 160px;
}

.info .copy:before {
    background-image: url('svg/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 16px;
    left: 10px;
    position: absolute;
    top: 5px;
    width: 16px;
}

.info .copy .version {
    color: var(--gray-500);
    cursor: help;
    padding-left: 2px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    footer {
        margin: 0 -20px;
        position: static;  
    }

    .info {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .info .name {
        left: 10px;
        line-height: 1;
        margin-right: 10px;
    }

    .info .name:before {
        top: -.2px;
    }

    .info .php-version,
    .info .status-code,
    .info .benchmark-time,
    .info .memory {
        display: none;
    }

    .copy {
        margin-right: -10px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    footer {      
        bottom: 0;
        left: 119px;
        position: fixed;
        right: 0;
    }
}

/* ICON LIST */
.iconlist {
    display: flex;    
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    text-align: center;
}

.icon-holder {
    border-left-width: 1px;
    border-color: var(--gray-200);
    cursor: pointer;
    height: 40px;
    padding: 11px; 
    position: relative;
    text-align: center;
    text-shadow: none;
    transition: all 0.2s linear 0s;
    width: 44px;
}

.icon-holder:hover {
    background: rgb(0, 195, 218);
}

.icon-holder:hover .ico-print,
.icon-holder:hover .ico-file-pdf,
.icon-holder:hover .ico-file-edit {
    fill: var(--white);
}

.icon-holder:hover .tooltip {
    animation: updown .8s ease-in-out infinite alternate;
    visibility: visible;
}

/* Animation */
@keyframes updown {
    0% {
        top: 40px;	
    }

    100% {
        top: 45px;	
    }
}

.icon-holder:hover .tooltip-edit,
.icon-holder:hover .tooltip-pdf {
    transform: translate(-85%);
}

.icon-holder:last-child .tooltip:before, 
.icon-holder:last-child .tooltip:after {
    left: 85%;
}

.icon-holder .ico-print,
.icon-holder .ico-file-pdf,
.icon-holder .ico-file-edit {
    fill: var(--gray-700);
}

.icon-holder .ico-print {
    height: 22px;
    margin-top: -2px;
    width: 21px;
}

.icon-holder .ico-file-pdf {
    height: 21px;
    margin-top: -2px;
    width: 21px;
}

.icon-holder .ico-file-edit {
    height: 30px;
    margin-left: -8px;
    margin-top: -7px;
    width: 40px;
}

.icon-holder .tooltip {
    background: rgb(82, 75, 114);
    border-radius: 4px;
    visibility: hidden;
    font-size: var(--font-size-small-x);
    left: 50%;
    padding: 6px;
    position: absolute;
    transform: translate(-50%);
    transform-style: preserve-3d;
    top: 40px;
    width: auto;
    white-space: nowrap;
    word-wrap: nowrap;
    z-index: 200;
}

.icon-holder .tooltip:after {
    background: rgb(82, 75, 114);
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    top: -1px;
    width: 10px;
    z-index: 400;
}

.icon-holder .tooltip:before {
    background: rgb(82, 75, 114);
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;        
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(-50%);    
    top: -2px;
    width: 10px;
    z-index: -1;
}

.icon-holder .tooltip-print,
.icon-holder .tooltip-pdf,
.icon-holder .tooltip-edit {
    border: 1px solid rgb(66, 40, 62);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* PRINT */
@media print {
    header {
        box-shadow: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .exception-title, 
    .exception-message {
        display: none;
    }

    .plain-exception {
        color: #000000;
        display: block; 
    }

    .plain-exception pre {
        border: 0;
        box-shadow: none;
        font-family: "Helvetica Neue", helvetica, lucida grande, sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-left: 0; 
        outline: hidden;
        text-align: left;
        white-space: pre-wrap;
        *word-break: break-all;
    }

    .sidebar {
        display: none;
    }

    .code-source,
    .code-source.active {
        display: none;
        visibility: hidden;
    }

    .details-description {
        margin-top: -10px;
    }

    footer {
        display: none;
    }

    @page {
        margin: .25in;
    }
}