:root {
    --main-bg-color: rgb(240, 240, 245);
    --first-color: rgb(255, 255, 255);
    --second-color: rgb(238, 238, 238);
    --body-color: rgb(51, 48, 48);
    --frame-color-menu: rgb(53, 139, 197);
    --code-color-highlight: rgb(65, 65, 65);
    --font-size-small: .8em;
    --font-size-initial: 1em;
    --font-size-medium-xx: 1.1em;
    --font-size-medium-x: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-large-xx: 1.4em;
    --font-size-large-x: 1.5em;
    --font-size-large: 1.6em;
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html {
    background: var(--main-bg-color);
}

body {
    color: var(--body-color);
    font: 12px "Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
        
    text-rendering: optimizeLegibility;
}

/* GENERAL */

.headline,
.lead {
    text-align: center;
}

.headline {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: 0.8;
    margin-top: 30%;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.lead {
    font-size: 1.7rem;
    text-align: center;
}

h4 {
    font-weight: 600;
}

ul, 
ol {
    font-size: var(--font-size-medium-x);
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    html {
        overflow: hidden;
        overflow-y: scroll;
    }

    body {
        margin: 0 20px;
        max-height: 100%;
    }

    .panel {
        position: static;
        width: 100%;
    }

    .sidebar {
        padding: 0;
        margin: 20px 0;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .panel {
        bottom: 20px;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
        top: 150px;
    }

    .sidebar {
        bottom: 60px;
        left: 25px;
        top: 155px;
        width: 40%;
    }
    
    .details-panel {
        bottom: 60px;
        font-family: "Lato";
        left: 40%;
        margin-left: 45px;
        padding-left: 10px;
        padding-right: 25px;
        padding-top: 5px;
        right: 0;
    }
}

/* HEADER */

header {
    background-image: linear-gradient(236deg, rgb(30, 41, 59), rgb(30, 43, 54));
    box-shadow: inset 0 -5px 3px -3px rgba(150, 109, 109, 0.09), inset 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: rgb(177, 177, 177);
    font-size: var(--font-size-medium-x);
    font-weight: 200;
    margin-bottom: 20px;
    max-height: 130px;
    overflow: hidden;
    padding: 2.25rem 1.55rem;
    text-shadow: 0 1px 0 rgba(149, 149, 149, 0.3);
    transition: .5s;
    width: 100vw;    
    
    -webkit-text-smoothing: antialiased;
}

header h1 {
    color: rgb(255, 132, 132);
    display: inline-block;
}

header h2 {
    color: var(--first-color);
    line-height: 1;
    margin-top: 12px;
    width: 60%;
}

header h1 span,
header h2 span {
    color: rgb(236, 67, 67);
}

header h1,
header h1 span,
header h2,
header h2 span {
    font-weight: 400;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    header {
        background-position: 96% 0;
        height: auto;
        margin: 0 -20px;
    }

    header h1 {
        font-size: .8rem;
    }

    header h2 {
        font-size: var(--font-size-medium-x);
    }

}

/* WIDE */
@media (min-width: 1100px)
{
    header {     
        background-position: 99% 0;  
        position: fixed; 
        left: 0;
        right: 0;
        top: 0;
    }

    header h1 {
        font-size: var(--font-size-initial);
    }

    header h2 {
        font-size: var(--font-size-large-x);
        font-weight: 600;
    }
}

/* FRAMES */

.sidebar {
    background: rgb(226, 226, 233);
    border-bottom: solid 3px rgb(228, 51, 51);
    border-radius: 3px;
    border-top: solid 3px rgb(228, 51, 51);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09), 1px 1px 0 rgba(0, 0, 0, 0.09), -1px 1px 0 rgba(0, 0, 0, 0.09), 0 0 0 4px rgba(0, 0, 0, 0.09);
}

.frame-description {
    background: var(--second-color);
    border-bottom: solid 1px rgb(221, 221, 221);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    padding: 6px;    
    text-align: center;
    width: 100%;
}

.frame-description.frame-description-application {
    color: rgb(165, 159, 159);
    display: inline-block;    
    font-size: var(--font-size-medium-x);
    font-weight: bold;
    height: 22px;
    line-height: 2px;
    padding: 24px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

.frame {
    background-color: rgb(248, 248, 248);
    background: linear-gradient(top, rgb(248, 248, 248) 80%, rgb(240, 240, 240));
    box-shadow: inset 0 -1px 0 #e2e2e2;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.frame.active {
    background: var(--frame-color-menu);
}

.frame.active .frame-class {
    color: var(--first-color);
}

.frame.active .frame-file {
    color: rgb(224, 223, 223);
}

.frame:not(.active):hover {
    background: rgb(201, 237, 246);
}

.frame:not(.active):hover .frame-file {
    color: rgb(126, 121, 121);
}

.frame-index {   
    border: 2px solid rgb(77, 76, 76); 
    border-radius: 100%; 
    padding: 0 1px 0 1px;   
    position: absolute;
    text-align: center;  
}

.frame-application .frame-index {
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
}

.frame-method-info {
    position: relative;
}

.frame-class,
.frame-file {
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
}

.frame-class {
    font-size: var(--font-size-medium-x);  
}

.frame-file {
    color: rgb(180, 175, 175);
    font-size: var(--font-size-initial);
}

.delimiter {
    display: inline-block;
}

.frame-line {
    font-weight: 700;
}

.frame-line:before {
    content: ":";
    margin-right: 3px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .frame {
        max-height: 200px;
        overflow: auto;
        padding: 5px 10px;
    }

    .frame-index {   
        font-size: var(--font-size-small);    
        height: 18px;
        left: 10px;  
        line-height: 14px;  
        margin-top: 5px;  
        width: 18px;
    }

    .frame-class,
    .frame-file {
        display: inline-block;
        height: var(--font-size-medium);
        letter-spacing: .3px; 
        line-height: 1.3;
        margin-left: 30px; 
        margin-top: 5px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .frame {
        min-height: 90px;
        padding: 7px 20px;
    }

    .frame-index {   
        font-size: var(--font-size-initial);    
        height: 22px;
        left: 20px;  
        line-height: 18px;  
        margin-top: 25px; 
        width: 22px;
    }

    .frame-class,
    .frame-file {
        display: block;
        height: var(--font-size-large-xx);
        letter-spacing: .5px; 
        line-height: 1.5;
        margin-left: 40px; 
        margin-top: 11px;
        overflow-wrap: break-word;
    }
}

/* SOURCE */

.code-blocks {    
    border-radius: 6px;
    margin: 0;
    width: 100%;
}

.code-source {
    background: var(--first-color);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03), 1px 1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05), 0 0 0 4px rgba(0, 0, 0, 0.04);
    display: none;
    margin-bottom: 2px;
    padding: 6px;
}

.code-source.active {
    display: block;
}

.title {
    background: var(--second-color);
    border: solid 1px rgb(214, 213, 213);
    border-bottom: solid 1px rgb(214, 213, 213);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    font-weight: 200;
    padding: 8px 15px;
}

.title h4 {
    color: rgb(102, 102, 102);
    font-size: var(--font-size-medium-xx);
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: -10px;
    text-shadow: 0 1px 0 rgba(226, 226, 226, 0.6);
    white-space: pre-line;
    text-overflow: ellipsis;
    overflow: hidden;
}

.source {
    background: var(--first-color);
    border: 1px solid rgb(223, 221, 221);
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 3px;
    *box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1), inset 0 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgb(138, 135, 135);
    padding-bottom: 15px;
    padding-top: 15px;
}

pre, 
code,
.source span.line,
.source .line .highlight,
.source span.line .number,
.source span.highlight .number {
    font-family: Fira Code, Menlo, monospace;
    font-weight: 600;
    font-size: 14px;
    overflow-x: auto;
}

.source span.line {
    line-height: 1.5;
    padding-left: 15px; 
}

.source span.line .number {
    color: rgb(153, 153, 153);
    display: inline-table;
}

.source .line .highlight {
    background: rgb(255, 179, 179);
    color: var(--code-color-highlight);
    display: block; 
    padding-left: 15px;
    padding-right: 15px;
}

.source span.highlight {
    margin-left: 0;
}

.source span.highlight .number {
    color: var(--code-color-highlight);
    margin-left: 0;
    padding-top: 0;
}

pre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

code {
    overflow-wrap: break-word;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .code-blocks {
        min-height: 40px;
    }

    .details-panel .frame-description.frame-description-application {
        font-size: var(--font-size-medium);
        padding: 50px 10px 30px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .code-source {
        left: 0;        
    }
}

/* INFO PANEL DETAILS*/

.details-description {
    padding: 30px 0;
}

.details-description:before {
    background: rgba(0, 150, 200, 0.05);
    border-radius: 2px;    
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.04), inset 2px 2px 2px rgba(0, 0, 0, 0.07);
    content: '';
    display: block;
    height: 4px;
    margin: 10px 0 30px;
    width: 100%;
}

.details-description.details-description-application {
    background: transparent;
    color: rgb(105, 138, 160);
    font-size: var(--font-size-large);
    font-weight: 600;
    letter-spacing: .03rem;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* TABS */

.content {
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabs__item {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: rgb(46, 88, 117);
    cursor: pointer;
    letter-spacing: .06rem;
    line-height: 2.5;
    position: relative; 
    top: 1px;  
    z-index: 20;
}

.tabs__item.active {
    border: 1px solid rgb(214, 213, 213);
    border-bottom: 1px solid rgb(240, 240, 245);
    font-weight: 500;
}

.tab-content {
    border: 1px solid transparent;
    border-top: 1px solid rgb(214, 213, 213);
    display: block;    
}

.tab-content__item {
    display: none;
    overflow: hidden;
    position: relative;
}

.tab-content__item.active {
    display: block;
    font-weight: 400;
}

.tab-content__item h3 {
    color: rgb(51, 153, 170);
    font-weight: 700;
    letter-spacing: .06rem;
}

.tab-content__item h3:first-child {
    margin-top: 10px;
}

.tab-content__item h3:nth-child(n+1) {
    margin-top: 30px;
}

.tab-content__item ol li {
    font-weight: 400;
    letter-spacing: .02rem;
    line-height: 1.8;
    margin-top: 10px;
}

.tab-content__item ol li p {
    display: inline; /* For IE - Edge */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/
 
/* SMALL */
@media (max-width: 1100px) 
{ 
    .tabs__item {
        font-size: var(--font-size-medium-xx);
        font-weight: 600;
        margin-left: -7px;
        margin-right: 15px;
        padding: .5em 1em .5em;
    }

    .tabs__item.active {
        margin-left: -7px;
        margin-right: 15px;
        border-bottom: 2px solid rgb(240, 240, 245);
    }

    .tab-content {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        padding-top: 20px;
    }

    .tab-content__item.active {
        font-size: var(--font-size-initial);
        margin-left: -10px;
        margin-right: -10px;
    }

    .tab-content__item h3 {
        font-size: var(--font-size-medium-x);
        margin-bottom: 20px;
        margin-left: 8px;
    }

    .tab-content__item ol li {
        font-size: var(--font-size-small);
        margin-left: 20px;
        margin-right: 7px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .tab-content {
        padding-top: 30px;
    }

    .tabs__item {
        font-size: var(--font-size-medium-x);
        font-weight: 700;
        margin-right: 22px;
        padding: .3em 2em .3em;
    }   

    .tab-content__item h3 {
        font-size: var(--font-size-medium);
        margin-bottom: 20px;
        margin-left: 2px;
    }

    .tab-content__item ol li {
        margin-left: 30px;
    }
}

/* TABLE */

table {
    font-size: var(--font-size-small);
    margin-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
    width: 100%;
}

th {
    color: #334752;
    font-weight: 600;
    font-size: var(--font-size-medium);
    padding-bottom: .7rem;
    text-align: left;
}

td {
    max-width: 245px;
    padding: 0.2rem 0.5rem 0.2rem 0;
}

table tr td:first-child {
    color: rgb(83, 101, 119);
    font-weight: 700;
    min-width: 5em;
    overflow-wrap: break-word;
}

td:nth-child(1) {
    width: 20rem;
}

tr:hover td {
    *background: #F1F1F1;
}

td pre {
    white-space: pre-wrap;
}

table tbody {
    font: 13px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    thead {
        display: none;
    }

    td {
        max-width: 100%;
        overflow-wrap: break-word;
        width: 100%;
    }

    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    thead tr { 
        left: -9999px;
        position: absolute;
        top: -9999px;
    }

    tbody tr td {
        color: #9c9c9c;
        font-size: .95em;
    }

    td { 
        border: none;
        padding-left: 8px; 
        position: relative;
        width: 100%;
    }

    td:before { 
        left: 6px;
        padding-right: 10px; 
        position: absolute;
        top: 6px;
        width: 100vw; 		
        white-space: nowrap;
    }
}

/* FOOTER */
footer {
    background: rgb(49, 53, 61);
    box-shadow: 0 5px 5px 10px rgba(150, 109, 109, 0.05);
    min-height: 30px; 
    padding: 2px 25px;   
    width: 100vw; 
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.info .name {
    color: rgb(133, 128, 128);
    position: relative;
    left: 20px;
}

.info .name:before {
    background-image: url('svg/logo-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 16px;
    left: -20px;
    position: absolute;
    top: -2px;
    width: 16px;
}

.info .copy {
    color: rgb(116, 111, 111);
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    footer {
        margin: 0 -20px; 
        padding: 2px 20px;        
    }

    .info .name {
        padding-right: 30px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    footer {
        border-top: 1px solid rgb(31, 33, 36);       
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
    }
}