* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, 
body { 
	background: rgb(251, 252, 253);
	color: rgb(88, 109, 126);
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

.full-height {
	height: 100vh;
}

.code {
	border-right: 2px solid;
	font-size: 13px;
	padding: 0 15px 0 15px;
	text-align: center;
}

h1 {
	font-weight: lighter;
}

.message {
	font-size: 18px;
	text-align: center;
}

.flex-column {
	flex-direction: column;
}

/* WIDE */
@media (min-width: 2048px)
{
	.code {
		border-right: 3px solid;
		font-size: 52px;
	}

	.message {
		font-size: 54px;
	}
}