:root {
	--color-location: rgb(73, 105, 136);
	--color-icon: rgb(56, 156, 148);
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon/icomoon.eot');
	src:  url('fonts/icomoon/icomoon.eot') format('embedded-opentype'),
		  url('fonts/icomoon/icomoon.ttf') format('truetype'),
		  url('fonts/icomoon/icomoon.woff') format('woff'),
		  url('fonts/icomoon/icomoon.svg') format('svg');
	font-style: normal;
	font-weight: normal;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background: rgb(229, 229, 229);
}

html, 
body {
	background: rgb(250, 246, 246);
	color: rgba(60, 72, 88, .9);
	font-family: 'icommon', Heebo, sans-serif;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

a:active,
a:link,
a:visited {
	color: rgb(107, 120, 128);
	font-weight: 500;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	margin-right: 5px;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	background: rgb(255, 255, 255);
	border: 2px solid rgb(203, 213, 223);
	border-radius: 100%;
	color: var(--color-icon);
	content: "\ea10";
	font-size: 1.2em;
	font-weight: 500;
	left: 10px;
	padding: 3px;
	position: absolute;
	top: 8px;
}

.icon-books:before {
	content: "\e920";
	left: 105px;
}

.icon-embed:before {	
	content: "\ea7f";
	left: 370px;	
}

.icon-users:before {
	content: "\e972";
	right: 100px;
}

.icon-books:before,
.icon-embed:before,
.icon-users:before {
	color: var(--color-icon);
	font-size: 3em;
	font-weight: 500;
	padding: 3px;
	position: absolute;
	top: -30px;
}

.container {
	margin: 0 auto;
	max-width: 5800px;
	width: 100%;
}

.content {
	background: #F9F9F9; /* Old browsers */
	background: -moz-linear-gradient(top, #F9F9F9 0%, #F5F5F5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #F9F9F9 0%,#F5F5F5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #F9F9F9 0%,#F5F5F5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F9F9F9', endColorstr='#F5F5F5',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
	background-clip: content-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	font-size: 100%;
	height: 100vh;
	transition: all .4s;
	width: 100%;
}

.info {
	margin: 70px auto;
	overflow: hidden;
	position: relative;
	padding: 2rem;
	padding-top: 0;
}

img {	
	display: block;
	height: 30%;
	margin: auto;
	opacity: .7; 
	position: relative;
	top: 0;
	width: 30%;  
}

h1 {
	bottom: 10px;
	color: rgb(66, 85, 100);	
	font-family: 'Heebo';
	font-size: 2em;
	font-weight: 500;
	letter-spacing: 2px;
	position: relative;
	text-align: center;
	text-shadow: 2px 1px 9px rgb(224, 224, 224);
	z-index: 200;
}

h1 b {
	display: block;
	font-size: 4rem;
	margin-top: -15px;
}

.location {
	display: flex;
	justify-content: center;
	position: relative;
	top: 10px;
}

.location span {
	background: var(--color-location);
	border-radius: 30px;
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), 
				1px 1px 0 rgba(255, 255, 255, 0.7), 
				inset 0 0 0 1px rgba(0, 0, 0, 0.04), 
				inset 2px 2px 2px rgba(0, 0, 0, 0.07);
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	font-weight: 600;
	padding: 10px;
	padding-left: 45px;
	position: relative;
}

.message {
	color: rgba(88, 133, 153, 0.829);
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: .01rem;
	min-height: 40px;
	position: relative;
	text-align: center;
	top: 40px;
}

.box {
	display: flex;
	justify-content: space-between;
	position: relative;
	text-align: center;
	top: 180px;
}

.documents,
.tutorials,
.community {
	width: 100%;
}

h2 {
	color: rgb(59, 131, 179);
}

/* Smartphone */
@media screen and (max-width: 767px) {	
	.container {
		
	}

	.info {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: -10px;
	}

	img {
		height: 40%;
		width: 40%;
	}

	h1 {
		font-size: 1em;
	}

	h1 b {
		font-size: 2rem;
	}

	.icon-checkmark:before {
		font-size: 1em;
	}

	.location span {
		font-size: .9rem;
		padding-left: 38px;
	}

	.message {
		font-size: .6em;
	}

	.box {
		flex-direction: column;
		top: 80px;
	}
}

/* Tablet */
@media screen and (min-width: 768px) {
	
}

/* Desktop */
@media screen and (min-width: 1024px) {
	
}

/* 4K Ultra HD TV */
@media screen and (min-width: 3640px) {
	.info {
		max-width: 3060px;
	}

	h1 {
		font-size: 5rem;
		margin-top: 185px;
	}

	.message {
		font-size: 2.2em;
	}
}