:root {
    --main-bg-color: rgb(240, 240, 240);
    --first-color: rgb(255, 255, 255);
    --second-color: rgb(243, 243, 243);
    --thrid-color: rgb(145, 107, 37);
    --four-color: rgb(0, 150, 177);
    --body-color: rgb(27, 27, 27);
    --border-color: rgb(175, 18, 18);
    --frame-color-menu: rgb(46, 135, 172);
    --code-color-highlight: rgb(42, 38, 38);
    --font-size-small: .8em;
    --font-size-small-x: .9em;
    --font-size-initial: 1em;
    --font-size-medium-xx: 1.1em;
    --font-size-medium-x: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-large-xx: 1.4em;
    --font-size-large-x: 1.5em;
    --font-size-large: 1.6em;
}

@font-face {
    font-family: IcoFont;
    font-style: Regular;
    font-weight: 400;
    src:
        url(fonts/icofont/icofont.tff) format("ttf"),
        url(fonts/icofont/icofont.woff2) format("woff2"),
        url(fonts/icofont/icofont.woff) format("woff")
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html {
    background: var(--main-bg-color);
    z-index: 10000;
}

body {
    color: var(--body-color);
    font-family: "Helvetica Neue", helvetica, lucida grande, sans-serif;
    font-size: 10pt;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* GENERAL */

.headline,
.lead {
    text-align: center;
}

.headline {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: 0.8;
    margin-top: 30%;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.lead {
    font-size: 1.7rem;
    text-align: center;
}

h4 {
    font-weight: 600;
}

ul, 
ol {
    font-size: var(--font-size-medium-x);
}

[class*=" icofont-"],
[class^=icofont-] {
    direction: ltr;
    font-family: IcoFont!important;
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
}

.icofont-print:before {
    content: "\efc6";
}

.icofont-file-pdf:before {
    content: "\eb1e";
}

.icofont-edit:before {
    content: "\ef10";
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    html {
        overflow: hidden;
        overflow-y: scroll;
    }

    body {
        margin: 0 20px;
        max-height: 100%;
    }

    .panel {
        position: static;
        width: 100%;
    }

    .sidebar {
        padding: 0;
        margin: 20px 0;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .panel {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
    }

    .sidebar {
        bottom: 60px;
        left: 30px;
        top: 155px;
        width: 40%;
    }
    
    .details-panel {
        bottom: 60px;
        font-family: "Lato";
        left: 40%;
        top: 152px;
        margin-left: 50px;
        padding-left: 10px;
        padding-right: 30px;
        padding-top: 5px;
        right: 0;
    }
}

/* HEADER */

header {
    background-image: linear-gradient(236deg, rgb(30, 41, 59), rgb(30, 43, 54));
    box-shadow: inset 0 -5px 3px -3px rgba(150, 109, 109, 0.09), inset 0 -1px 0 rgba(0, 0, 0, 0.09);
    color: rgb(114, 114, 114);
    font-size: var(--font-size-medium-x);
    font-weight: 400;
    margin-bottom: 20px;
    height: 125px;
    min-height: 125px;
    overflow: hidden;
    padding: 1.8rem;
    text-shadow: none;
    transition: .5s;
    width: 100vw;    
    
    -webkit-text-smoothing: antialiased;
}

header:hover {
    height: auto;
    z-index: 2;
}

header:hover h1,
header:hover h2 {
    height: auto;
    max-height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.exception-title {
    display: flex;
    color: rgb(148, 148, 148);
    line-height: 1.8;
    margin: 0;
}

.exception-title h1 {
    color: rgb(218, 82, 80); 
    display: inline;
    margin-right: 5px;
}

.exception-title span {
    color: var(--thrird-color);
}

.exception-message h2 {
    color: var(--first-color);
    font-weight: 400;
    line-height: 1.2em;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 70%;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    header {
        background-position: 96% 0;
        height: auto;
        margin: 0 -20px;
    }

    .exception-title h1,
    .exception-title h2 {
        font-size: var(--font-size-small);
    }

    .exception-message h2 {
        font-size: var(--font-size-medium-x);
        width: 95%;
    }

}

/* WIDE */
@media (min-width: 1100px)
{
    header {     
        background-position: 99% 0;  
        position: fixed; 
        left: 0;
        right: 0;
        top: 0;
    }

    .exception-title h1 {
        font-size: var(--font-size-initial);
    }

    .exception-message h2 {
        font-size: var(--font-size-large-x);
    }
}

/* FRAMES */

.sidebar {
    background: rgb(226, 226, 233);
    border-bottom: solid 4px var(--border-color);
    border-radius: 5px;
    border-top: solid 4px var(--border-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06), 1px 1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.06);
    padding: 5px;
}

.frame-description {
    background: var(--second-color);
    border-bottom: solid 1px rgb(212, 213, 218);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); 
    margin: -5px;
    margin-bottom: 5px;
    text-align: justify;
    min-width: 100%;
}

.frame-description.frame-description-application {
    color: rgb(179, 179, 179);
    display: flex;    
    font-size: var(--font-size-small-x);
    font-weight: bold;
    justify-content: space-between;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(236, 236, 236, 0.6);
}

.frame-description-application span {
    padding: 8px 25px;
}

/* Icon border */
.frame-description-application .icon-holder:last-child {
    *border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.frame {
    background: var(--first-color);
    background: linear-gradient(top, rgb(248, 248, 248) 80%, rgb(240, 240, 240));
    box-shadow: inset 0 -1px 0 rgb(236, 236, 236);
    cursor: pointer;
    transition: all 0.1s ease;
    text-shadow: none;
}

.frame:nth-child(2) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.frame:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.frame.active:last-child  {
    box-shadow: none;
}

.frame.active {
    background: var(--frame-color-menu);
}

.frame.active .frame-class,
.frame.active .frame-file {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.frame.active .frame-class,
.frame.active .frame-function {
    color: var(--first-color);
}

.frame.active .frame-file {
    color: rgb(170, 205, 219);
}

.frame.active .frame-line {
    color: rgb(193, 219, 230); 
}

.frame:not(.active):hover {
    background: rgb(212, 238, 245);
}

.frame:not(.active):hover .frame-file {
    color: rgb(136, 136, 136);
}

.frame-index { 
    background: rgb(128, 128, 145);  
    border: 2px solid rgb(85, 85, 85); 
    border-radius: 100%; 
    color: rgb(233, 233, 233);
    display: inline-block;
    height: 18px;
    line-height: 15px;
    padding: 0 1px 0 1px; 
    text-align: center;
    width: 18px;
}

.frame-index {
    float: left;
}

.frame-method-info {
    display: block;
}

.frame-class,
.frame-function,
.frame-file {
    font-weight: 600;  
}

.frame-class {
    margin-left: 10px;
}

.frame-class,
.frame-function {
    color: rgb(94, 88, 107);
    font-size: var(--font-size-medium-x); 
}

.frame-function {
    margin-left: 2px;
}

.delimiter {
    display: inline;
}

.frame-file {
    color: rgb(170, 170, 180);
    font-size: var(--font-size-small-x);
}

.frame-line {
    font-weight: 700;
}

.frame-line:before {
    content: ":";
    margin-right: 3px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .frame-method-info {
        color: var(--first-color);
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .frame {
        max-height: 200px;
        padding: 5px 20px;
    }

    .frame-index {   
        font-size: var(--font-size-small); 
        margin-top: 5px;   
    }

    .frame.active .frame-class,
    .frame.active .frame-function,
    .frame.active .frame-file {
        font-size: .9em;
    }

    .frame-class,
    .frame-function,
    .frame-file {
        display: inline;
        font-size: .9em;
        min-height: 2em;
        letter-spacing: .3px; 
        line-height: 2.5;
    }

    .frame-file {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .frame-description-application .iconlist {
        display: none;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .frame {
        min-height: 75px;
        padding: 7px 20px;
        white-space: nowrap;
        word-wrap: none;
    }

    .frame-index { 
        font-size: .9em;    
        height: 22px;
        left: 20px;  
        line-height: 18px;
        margin-top: 20px;
        width: 22px;
    }

    .frame-class,
    .frame-function {
        height: 2em;
        line-height: 2.5;
    }

    .frame-file {
        margin-bottom: 10px;
        margin-left: 33px;
    }

}

/* SOURCE */

.code-source {
    background: var(--first-color);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06), 1px 1px 0 rgba(0, 0, 0, 0.06), -1px 1px 0 rgba(0, 0, 0, 0.06), 0 0 0 4px rgba(0, 0, 0, 0.06);
    display: none;
    margin-bottom: 50px;
    padding: 22px;
    position: relative;
}

.code-source.active {
    display: block;
}

.title {
    align-items: center;
    background: var(--second-color);
    border: none;
    border-bottom: solid 1px rgb(212, 213, 218);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    font-weight: 200;
    justify-content: space-between;
    margin-left: -22px;
    margin-top: -22px;
    padding: 0 10px;
    padding-right: 0;
    position: absolute;
    width: 100%;
}

.title h4 {
    color: rgb(34, 61, 77);
    font-size: var(--font-size-initial);
    font-weight: 600;
    min-height: 12px;
    line-height: 12px;
    overflow: hidden; 
    padding: 5px 12px;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: pre-line;
}

/* Icon border */
.title .icon-holder:last-child {
    *border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.source {
    background: rgb(46, 46, 46);
    border-top: 0;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .05),
                0 10px 30px rgba(0, 0, 0, .05),
                inset 0 0 1px 0 rgba(255, 255, 255, .07);
    color: rgb(138, 135, 135);
    margin-top: 35px;
    text-shadow: none;
}

pre, 
code,
.source span.line,
.source .line .highlight,
.source span.line .number,
.source span.highlight .number {
    font-family: Fira Code, Menlo, monospace;
    font-weight: 600;
    font-size: 13px;
}

.source span.line {
    line-height: 1.5;
    padding-left: 20px; 
}

.source span.line .number {
    color: rgb(119, 119, 119);
    display: inline-table;
}

.source .line .highlight {
    background: rgba(245, 153, 153, 0.2);
    color: var(--first-color);
    display: block; 
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.source span.highlight {
    margin-left: 0;
}

.source span.highlight .number {
    color: var(--first-color);
    margin-left: 0;
    padding-top: 0;
}

pre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

code {
    margin-top: 10px;
    overflow-wrap: break-word;
}

/* FRAME OF ARGUMENTS */
.code-source .frame-file {
    border-bottom: none;
    color: rgb(141, 140, 140);
    margin-left: 0;
    margin-top: 10px;
    text-shadow: none;
}

.code-block {
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, .05), 0 10px 30px rgba(0, 0, 0, .05), inset 0 0 1px 0 rgba(255, 255, 255, .07);
    margin: 0;
    padding: 6px 0 12px;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    text-shadow: none;
}

.frame-args.code-block {
    background: rgb(46, 46, 46);
}

.linenums {
    counter-reset: item;
    list-style: none;
    margin: 0;
    margin-left: 28px;
    margin-right: 28px;
    margin-top: 5px;
}

.linenums li {
    color: rgb(188, 212, 42);
    font-family: monospace;
    font-size: var(--font-size-small);
    font-weight: 400;
}

.linenums li:before {
    display: inline-block;
    content: counter(item) ".  ";
    counter-increment: item;
    color: rgb(145, 145, 145);
    font: bold var(--font-size-small);
    margin-left: -5px;
    margin-right: 5px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .code-blocks {
        min-height: 40px;
    }

    .details-panel .frame-description.frame-description-application {
        font-size: var(--font-size-medium);
        padding: 50px 10px 30px;
    }

    .title {
        padding: 9px 9px 5px;
    }

    .title .iconlist {
        display: none;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .code-source {
        left: 0;
    }
}

/* INFO PANEL DETAILS*/

.details-description {
    padding: 0;
    padding-bottom: 20px;
}

.details-description:after {
    background: rgba(0, 150, 200, 0.05);
    border-radius: 2px;    
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.04), inset 2px 2px 2px rgba(0, 0, 0, 0.07);
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0 0;
    width: 100%;
}

.details-description.details-description-application {
    background: transparent;
    color: rgb(54, 93, 119);
    font-size: var(--font-size-large);
    font-weight: 600;
    letter-spacing: .03rem;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* DATA TABLE */

.content {
    margin: 0;
    padding: 0;
}

.details {
    display: block;
    font-weight: 400;
    overflow: hidden;
    position: relative;  
}

.data-table-container label {
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(3, 128, 145);
    font-size: 16px;
    font-weight: bold;
    margin: 10px;  
    display: block;  
    margin-bottom: 10px;
    padding-bottom: 5px;
}

 .data-table-container label:nth-child(n+1) {
    margin-top: 20px;
}

.data-table {
    margin-bottom: 10px;
    width: 100%;
}

.data-table thead {
    display: none;
}

.data-table tbody {
    font: 13px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}

.data-table tr {
    padding: 5px 0;
}

.data-table td:first-child {    
    color: rgb(96, 88, 107);
    font-weight: bold;    
    min-width: 245px;
    overflow: hidden;
    padding-right: 5px;
    width: 23%;
}

.data-table td:last-child {
    hyphens: auto;
    width: 80%;
    word-break: break-all;
    word-break: break-word;
}

.data-table tbody td {
    padding: 2px 0;
}

.data-table span.empty {
    color: rgb(141, 140, 140);
    font-weight: 300;
}

.data-table label.empty {
    border-bottom: 0;
    display: inline;
}

.data-table .debug-list {
    color: rgb(96, 88, 107);
    text-shadow: none;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/
 
/* SMALL */
@media (max-width: 1100px) 
{ 
    .details {
        margin-bottom: 20px;
        margin-left: -7px;
        margin-right: 0;
        padding: .2em 0 .1em;
    }

    .data-table-container label {
        font-size: var(--font-size-medium-x);
        margin-left: 8px;
    }

    .data-table table {
        padding-left: 10px;
    }

    .data-table .debug-list {
        margin-left: 8px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .details {
        font-weight: 700;
        padding: .3em 0 .3em;
    }   

    .data-table-container label {
        font-size: var(--font-size-medium);
        margin-left: 2px;
    }
}

/* FOOTER */
footer {
    background: rgb(49, 53, 61);
    box-shadow: 0 5px 5px 10px rgba(150, 109, 109, 0.05);
    min-height: 30px; 
    padding: 2px 30px;
    text-shadow: none;  
    width: 100vw; 
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}

.info .name {
    color: rgb(167, 161, 161);
    position: relative;
    left: 15px;
}

.info .name:before {
    background-image: url('svg/logo-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 16px;
    left: -20px;
    position: absolute;
    top: 1px;
    width: 16px;
}

.info .status-code,
.info .php-version {
    cursor: help;
    color: var(--first-color); 
    font-size: 12px; 
    padding: 9px;
}

.info .status-code {
    background: var(--border-color);     
    margin-left: 10px;
}

.info .php-version {
    background: var(--frame-color-menu);
    margin-left: -5px;
}

.info .copy {
    color: rgb(116, 111, 111);
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    footer {
        margin: 0 -20px;     
    }

    .info .name {
        padding-right: 30px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    footer {
        border-top: 1px solid rgb(31, 33, 36);       
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
    }
}

/* ICON LIST */
.iconlist {
    display: flex;    
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    text-align: center;
}

.icon-holder {
    background: var(--first-color);
    border-left: 1px solid rgb(232, 233, 238);
    cursor: pointer;
    height: 34px;
    padding: 8px; 
    position: relative;
    text-align: center;
    text-shadow: none;
    transition: all 0.2s linear 0s;
    width: 44px;
}

.icon-holder:hover {
    background: rgb(0, 195, 218);
    border-left: 1px solid rgb(0, 195, 218);
    color: var(--first-color);
}

.icon-holder:hover i {
    color: var(--first-color);
}

.icon-holder:hover .tooltip {
    animation: updown .8s ease-in-out infinite alternate;
    visibility: visible;
}

/* Animation */
@keyframes updown {
    0% {
        top: 40px;	
    }

    100% {
        top: 45px;	
    }
}

.icon-holder:hover .tooltip-edit,
.icon-holder:hover .tooltip-pdf {
    transform: translate(-85%);
}

.icon-holder:last-child .tooltip:before, 
.icon-holder:last-child .tooltip:after {
    left: 85%;
}

.icon-holder i {
    font-size: 1.4em;
}

.icon-holder .icofont-print {
    color: rgb(114, 112, 100);
}

.icon-holder .icofont-file-pdf {
    color: rgb(219, 22, 170);
}

.icon-holder .icofont-edit {
    color: rgb(12, 136, 219);
}

.icon-holder .tooltip {
    background: rgb(87, 55, 82);
    border-radius: 5px;
    visibility: hidden;
    font-size: var(--font-size-small-x);
    left: 50%;
    padding: 6px;
    position: absolute;
    transform: translate(-50%);
    transform-style: preserve-3d;
    top: 40px;
    width: auto;
    white-space: nowrap;
    word-wrap: nowrap;
    z-index: 200;
}

.icon-holder .tooltip:after {
    background: rgb(87, 55, 82);
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    top: -1px;
    width: 10px;
    z-index: 400;
}

.icon-holder .tooltip:before {
    background: rgba(87, 55, 82, .9);
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;        
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(-50%);    
    top: -2px;
    width: 10px;
    z-index: -1;
}

.icon-holder .tooltip-print,
.icon-holder .tooltip-pdf,
.icon-holder .tooltip-edit {
    border: 1px solid rgb(66, 40, 62);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* PRINT */
@media print {
    header {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .code-source,
    .code-source.active {
        display: none;
        visibility: hidden;
    }

    footer {
        display: none;
    }

    @page {
        margin: .5in;
    }
}