:root {
    --main-bg-color: rgb(247, 249, 252);
    --first-color: rgb(255, 255, 255);
    --second-color: rgb(243, 243, 243);
    --thrid-color: rgb(145, 107, 37);
    --four-color: rgb(0, 150, 177);
    --five-color: rgb(41, 196, 3);
    --body-color: rgb(27, 27, 27);
    --border-color: rgb(175, 18, 18);
    --frame-color-menu: rgb(112, 108, 153);
    --code-color-highlight: rgb(42, 38, 38);
    --font-size-small: .8em;
    --font-size-small-x: .9em;
    --font-size-initial: 1em;
    --font-size-medium-xx: 1.1em;
    --font-size-medium-x: 1.2em;
    --font-size-medium: 1.3em;
    --font-size-large-xx: 1.4em;
    --font-size-large-x: 1.5em;
    --font-size-large: 1.6em;
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

html {
    background: var(--main-bg-color);
    z-index: 10000;
}

body {
    color: var(--body-color);
    font-family: "Helvetica Neue", helvetica, lucida grande, sans-serif;
    font-size: 10pt;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    
    text-rendering: optimizeLegibility;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* GENERAL */

.headline,
.lead {
    text-align: center;
}

.headline {
    font-weight: lighter;
    font-size: 6rem;
    letter-spacing: 0.8;
    margin-top: 30%;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.lead {
    font-size: 1.7rem;
    text-align: center;
}

h4 {
    font-weight: 600;
}

ul, 
ol {
    font-size: var(--font-size-medium-x);
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    html {
        overflow: hidden;
        overflow-y: scroll;
    }

    body {
        margin: 0 20px;
        max-height: 100%;
    }

    .panel {
        position: static;
        width: 100%;
    }

    .sidebar {
        padding: 0;
        margin: 20px 0;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .panel {
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        position: fixed;
    }

    .sidebar {
        bottom: 60px;
        left: 30px;
        top: 155px;
        width: 40%;
    }
    
    .details-panel {
        bottom: 60px;
        font-family: "Lato";
        left: 40%;
        top: 153px;
        margin-left: 50px;
        padding-left: 10px;
        padding-right: 30px;
        padding-top: 5px;
        right: 0;
    }
}

/* HEADER */

header {
    background-image: linear-gradient(236deg, rgb(250, 250, 250), rgb(253, 253, 253));
    box-shadow: inset 0 -5px 3px -3px rgba(54, 46, 46, 0.09), inset 0 -1px 0 rgba(99, 88, 88, 0.09);
    box-sizing: border-box;
    color: rgb(114, 114, 114);
    font-size: var(--font-size-medium-xx);
    font-weight: 400;
    margin-bottom: 20px;
    height: 125px;
    min-height: 125px;
    overflow: hidden;
    padding: 1.8rem;
    text-shadow: none;
    transition: .5s;
    width: 100vw;    
    
    -webkit-text-smoothing: antialiased;
}

header:hover {
    height: auto;
    z-index: 2;
}

header:hover h1,
header:hover h2 {
    height: auto;
    max-height: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.exception-title {
    color: rgb(167, 167, 167);
    line-height: 2.5;
    margin: 0;
}

.exception-title h1 {
    color: rgb(127, 122, 145); 
    display: inline;
    font-weight: 400;
}

.exception-title span {
    color: var(--thrird-color);
}

.exception-message h2 {
    color: rgb(94, 90, 133);
    font-weight: 600;
    line-height: 1em;
    margin-top: -3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    width: 60%;
}

.plain-exception {
    display: none;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    header {
        background-position: 96% 0;
        height: auto;
        margin: 0 -20px;
    }

    .exception-title h1,
    .exception-title h2 {
        font-size: var(--font-size-small);
    }

    .exception-message h2 {
        font-size: var(--font-size-medium-x);
        width: 95%;
    }

}

/* WIDE */
@media (min-width: 1100px)
{
    header {     
        background-position: 99% 0;  
        position: fixed; 
        left: 0;
        right: 0;
        top: 0;
    }

    .exception-title h1 {
        font-size: var(--font-size-initial);
    }

    .exception-message h2 {
        font-size: var(--font-size-large-x);
    }
}

/* FRAMES */

.sidebar {
    background: rgb(244, 244, 250);
    border-bottom: solid 3px rgb(187, 185, 212);
    border-radius: 5px;
    border-top: solid 3px rgb(187, 185, 212);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06), 1px 1px 0 rgba(0, 0, 0, 0.05), -1px 1px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.06);
    padding: 10px;
}

.frame-description {
    background: var(--second-color);
    border-bottom: solid 1px rgb(212, 213, 218);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); 
    height: 35px;
    margin: -10px;
    margin-bottom: 10px;
    text-align: justify;
    min-width: 100%;
}

.frame-description.frame-description-application {
    color: rgb(182, 180, 197);
    display: flex;    
    font-size: var(--font-size-small-x);
    font-weight: bold;
    justify-content: space-between;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(236, 236, 236, 0.6);
}

.frame-description-application span {
    padding: 8px 10px;
    text-shadow: none;
}

/* Icon border */
.frame-description-application .icon-holder:last-child {
    *border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.frame {
    background: var(--first-color);
    background: linear-gradient(top, rgb(248, 248, 248) 80%, rgb(240, 240, 240));
    box-shadow: 0 -1px 0 rgb(238, 238, 238), -1px 1px 0 rgb(228, 228, 228), 0 -1px 0 rgb(238, 238, 238), 1px 1px 0 rgb(228, 228, 228);
    cursor: pointer;
    transition: all 0.1s ease;
    text-shadow: none;
}

.frame:nth-child(2) {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.frame:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.frame.active:last-child  {
    box-shadow: none;
}

.frame.active {
    background: var(--frame-color-menu);
}

.frame.active .frame-class,
.frame.active .frame-file {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.frame.active .frame-class,
.frame.active .frame-function {
    color: var(--first-color);
}

.frame.active .frame-class {
    margin-left: 10px;
}

.frame.active .frame-file {
    color: rgb(210, 204, 245);
}

.frame.active .frame-line {
    color: rgb(229, 216, 241);
}

.frame.active .frame-index {
    background: rgb(236, 237, 252);  
    color: rgb(85, 101, 141);
    font-weight: 600;
    height: 22px;
    line-height: 18px;
    width: 22px;
}

.frame:not(.active):hover {
    background: rgb(229, 241, 252);
}

.frame:not(.active):hover .frame-file {
    color: rgb(136, 136, 136);
}

.frame-index { 
    background: rgb(94, 94, 146);  
    border: 2px solid rgb(212, 212, 212); 
    border-radius: 100%; 
    color: var(--first-color);
    display: inline-block;
    height: 22px;
    line-height: 18px;
    padding: 0 1px 0 1px; 
    text-align: center;
    width: 22px;
}

.frame-index {
    float: left;
}

.frame-method-info {
    display: block;
}

.frame-class,
.frame-function,
.frame-file {
    font-weight: 600;  
}

.frame-class {
    margin-left: 5px;
}

.frame-class,
.frame-function {
    color: rgb(118, 113, 139);
    font-size: var(--font-size-medium-x); 
}

.frame-function {
    margin-left: 2px;
}

.delimiter {
    display: inline;
}

.frame-file {
    color: rgb(170, 170, 180);
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    font-size: var(--font-size-small-x);
}

.frame-line {
    font-weight: 700;
}

.frame-line:before {
    content: ":";
    margin-left: -3px;
    margin-right: 3px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .sidebar {
        padding: 0;
    }

    .frame-description {
        margin: 0;
    }

    .frame-description-application span {
        padding-left: 15px;
    }

    .frame:nth-child(2),
    .frame:last-child {
        border-radius: 0;
    }

    .frame-method-info {
        color: var(--first-color);
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .frame {
        max-height: 200px;
        padding: 5px 15px;
    }

    .frame.active .frame-index {
        font-size: var(--font-size-small);
        height: 18px;
        line-height: 14px;
        width: 18px;
    }

    .frame-index {   
        font-size: var(--font-size-small); 
        margin-top: 5px;   
    }

    .frame.active .frame-class,
    .frame.active .frame-function,
    .frame.active .frame-file {
        font-size: .9em;
    }

    .frame-class,
    .frame-function,
    .frame-file {
        display: inline;
        font-size: .9em;
        min-height: 2em;
        letter-spacing: .3px; 
        line-height: 2.5;
    }

    .frame-file {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis; 
    }

    .frame-description-application .iconlist {
        display: none;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .frame {
        min-height: 75px;
        padding: 7px 20px;
        white-space: nowrap;
        word-wrap: none;
    }

    .frame-index { 
        font-size: .9em;    
        height: 26px;
        line-height: 22px;
        margin-top: 20px;
        width: 26px;
    }

    .frame-class,
    .frame-function {
        height: 2em;
        line-height: 2.5;
    }

    .frame-file {
        margin-bottom: 10px;
        margin-left: 33px;
    }

}

/* SOURCE */

.code-source {
    background: var(--first-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(181, 179, 201, .6), 1px 1px 0 rgba(181, 179, 201, .06), -1px 1px 0 rgba(181, 179, 201, .06), 0 0 0 4px rgba(0, 0, 0, .06);
    display: none;
    margin-bottom: 50px;
    padding: 0;
    position: relative;
}

.code-source.active {
    display: block;
}

.title {
    align-items: center;
    background: var(--second-color);
    border: none;
    border-bottom: solid 1px rgb(212, 213, 218);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    font-weight: 200;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 20px;
    padding: 10px;
    padding-right: 0;
    position: absolute;
    width: 100%;
}

.title h4 {
    color: rgb(131, 130, 144);
    font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
    font-size: var(--font-size-small-x);
    font-weight: 600;
    min-height: 12px;
    line-height: 12px;
    overflow: hidden; 
    padding: 5px 5px;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: pre-line;
}

/* Icon border */
.title .icon-holder:last-child {
    *border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.source {
    background: var(--first-color);
    border-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(138, 135, 135);
    padding-bottom: 13px;
    padding-top: 45px;
    text-shadow: none;
    min-width: 100%;
}

pre, 
code,
.source span.line,
.source .line .highlight,
.source span.line .number,
.source span.highlight .number {
    font-family: Fira Code, Menlo, monospace;
    font-weight: 600;
    font-size: 13px;
}

.source span.line {
    line-height: 1.5;
    padding-left: 15px; 
}

.source span.line .number {
    color: rgb(178, 174, 196);
    display: inline-table;
}

.source .line .highlight {
    background: rgb(240, 225, 250);
    color: rgb(127, 122, 143);
    display: block; 
    padding-left: 15px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.source span.highlight {
    margin-left: 0;
    margin-right: 0;
}

.source span.highlight .number {
    color: var(--third-color);
    margin-left: 0;
    padding-top: 0;
}

pre {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

code {
    margin-top: 10px;
    overflow-wrap: break-word;
}

/* FRAME OF ARGUMENTS */
.code-source .frame-file {
    background: rgb(32, 54, 73);
    border-bottom: none;
    border-top: 1px solid rgb(226, 222, 240);
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 5px;
    text-shadow: none;
}

.code-block {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2), 0 10px 30px rgba(0, 0, 0, .05), inset 0 0 1px 0 rgba(255, 255, 255, .07);
    margin: 0;
    padding: 6px 0 12px;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    text-shadow: none;
}

.frame-args.code-block {
    background: rgb(33, 58, 77);
}

.linenums {
    counter-reset: item;
    list-style: none;
    margin: 0;
    margin-left: 50px;
    margin-right: 35px;
    margin-top: 5px;
}

.linenums li {
    color: rgb(209, 238, 20);
    font-family: monospace;
    font-size: var(--font-size-small);
    font-weight: 400;
}

.linenums li:before {
    display: inline-block;
    content: counter(item) ". ";
    counter-increment: item;
    color: rgb(202, 202, 202);
    font: bold var(--font-size-small);
    margin-left: -28px;
    margin-right: 4px;
    padding-left: 10px;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    .code-blocks {
        min-height: 40px;
    }

    .details-panel .frame-description.frame-description-application {
        font-size: var(--font-size-medium);
        padding: 50px 10px 30px;
    }

    .title {
        padding: 9px 9px 5px;
    }

    .title .iconlist {
        display: none;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .code-source {
        left: 0;
    }
}

/* INFO PANEL DETAILS*/

.details-description {
    padding: 0;
    padding-bottom: 20px;
}

.details-description:after {
    background: rgba(0, 150, 200, 0.05);
    border-radius: 2px;    
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7), inset 0 0 0 1px rgba(0, 0, 0, 0.04), inset 2px 2px 2px rgba(0, 0, 0, 0.07);
    content: '';
    display: block;
    height: 4px;
    margin: 5px 0 0;
    width: 100%;
}

.details-description.details-description-application {
    background: transparent;
    color: rgb(90, 112, 133);
    font-size: var(--font-size-large);
    font-weight: 600;
    letter-spacing: .03rem;
    text-align: justify;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

/* DATA TABLE */

.content {
    margin: 0;
    padding: 0;
}

.details {
    display: block;
    font-weight: 400;
    overflow: hidden;
    position: relative;  
}

.data-table-container label {
    border-bottom: 1px solid rgb(219, 219, 219);
    color: rgb(79, 113, 126);
    font-size: 16px;
    font-weight: bold;
    margin: 10px;  
    display: block;  
    margin-bottom: 10px;
    padding-bottom: 5px;
}

 .data-table-container label:nth-child(n+1) {
    margin-top: 20px;
}

.data-table {
    margin-bottom: 10px;
    width: 100%;
}

.data-table thead {
    display: none;
}

.data-table tbody {
    font: 13px "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
}

.data-table tr {
    padding: 5px 0;
}

.data-table td:first-child {    
    color: rgb(96, 88, 107);
    font-weight: bold;    
    min-width: 245px;
    overflow: hidden;
    padding-right: 5px;
    width: 23%;
}

.data-table td:last-child {
    hyphens: auto;
    width: 80%;
    word-break: break-all;
    word-break: break-word;
}

.data-table tbody td {
    padding: 2px 0;
}

.data-table span.empty {
    color: rgb(141, 140, 140);
    font-weight: 300;
}

.data-table label.empty {
    border-bottom: 0;
    display: inline;
}

.data-table .debug-list {
    color: rgb(96, 88, 107);
    text-shadow: none;
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/
 
/* SMALL */
@media (max-width: 1100px) 
{ 
    .details {
        margin-bottom: 20px;
        margin-left: -7px;
        margin-right: 0;
        padding: .2em 0 .1em;
    }

    .data-table-container label {
        font-size: var(--font-size-medium-x);
        margin-left: 8px;
    }

    .data-table table {
        padding-left: 10px;
    }

    .data-table .debug-list {
        margin-left: 8px;
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    .details {
        font-weight: 700;
        padding: .3em 0 .3em;
    }   

    .data-table-container label {
        font-size: var(--font-size-medium);
        margin-left: 2px;
    }
}

/* FOOTER */
footer {
    background: rgb(49, 53, 61);
    box-shadow: 0 5px 5px 10px rgba(150, 109, 109, 0.05);
    min-height: 30px; 
    padding: 2px 30px;
    text-shadow: none;  
    width: 100vw; 
}

.info {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3px;
}

.info .name {
    color: rgb(167, 161, 161);
    position: relative;
    left: 15px;
}

.info .name:before {
    background-image: url('svg/logo-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: 16px;
    left: -20px;
    position: absolute;
    top: 1px;
    width: 16px;
}

.info .php-version,
.info .status-code,
.info .benchmark-time,
.info .memory {
    cursor: help;
    color: var(--first-color);
    font-size: 12px; 
    font-weight: 600;
    padding: 6px;
    
}

.info .php-version {
    margin-left: -2px;
}

.info .status-code {
    background: rgb(255, 0, 0);  
    font-size: 13px;  
    margin-left: 10px;
    padding: 8px;
}

.info .benchmark-time #cronometro,
.info .memory #chipset {
    fill: rgb(170, 170, 170);
    height: 18px;
    margin-top: .3px;
    position: absolute;
    width: 18px;
}

.info .benchmark-time span,
.info .memory span {
    margin-left: 22px;
}

.info .copy {
    color: rgb(116, 111, 111);
}

/* ------------------------------------------------------------ 
 * LAYOUT
 * -----------------------------------------------------------*/

/* SMALL */
@media (max-width: 1100px)
{
    footer {
        margin: 0 -20px;     
    }

    .info .name {
        padding-right: 30px;
    }

    .info .status-code {
        background: none;
        color: rgb(255, 0, 0);  
    }
}

/* WIDE */
@media (min-width: 1100px)
{
    footer {
        border-top: 1px solid rgb(31, 33, 36);       
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
    }
}

/* ICON LIST */
.iconlist {
    display: flex;    
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    text-align: center;
}

.icon-holder {
    background: var(--first-color);
    border-left: 1px solid rgb(232, 233, 238);
    cursor: pointer;
    height: 34px;
    padding: 8px; 
    position: relative;
    text-align: center;
    text-shadow: none;
    transition: all 0.2s linear 0s;
    width: 44px;
}

.icon-holder:hover {
    background: rgb(0, 195, 218);
    border-left: 1px solid rgb(0, 195, 218);
}

.icon-holder:hover .ico-print,
.icon-holder:hover .ico-file-pdf,
.icon-holder:hover .ico-file-edit {
    fill: var(--first-color);
}

.icon-holder:hover .tooltip {
    animation: updown .8s ease-in-out infinite alternate;
    visibility: visible;
}

/* Animation */
@keyframes updown {
    0% {
        top: 40px;	
    }

    100% {
        top: 45px;	
    }
}

.icon-holder:hover .tooltip-edit,
.icon-holder:hover .tooltip-pdf {
    transform: translate(-85%);
}

.icon-holder:last-child .tooltip:before, 
.icon-holder:last-child .tooltip:after {
    left: 85%;
}

.icon-holder .ico-print {
    fill: rgb(82, 82, 75);
    height: 19px;
    width: 17px;
}

.icon-holder .ico-file-pdf {
    fill: rgb(167, 17, 129);
    height: 17px;
    width: 17px;
}

.icon-holder .ico-file-edit {
    fill: rgb(27, 125, 182);
    height: 30px;
    margin-left: -5px;
    margin-top: -7px;
    width: 40px;
}

.icon-holder .tooltip {
    background: rgb(82, 75, 114);
    border-radius: 5px;
    visibility: hidden;
    font-size: var(--font-size-small-x);
    left: 50%;
    padding: 6px;
    position: absolute;
    transform: translate(-50%);
    transform-style: preserve-3d;
    top: 40px;
    width: auto;
    white-space: nowrap;
    word-wrap: nowrap;
    z-index: 200;
}

.icon-holder .tooltip:after {
    background: rgb(82, 75, 114);
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(45deg) translateX(-50%);
    top: -1px;
    width: 10px;
    z-index: 400;
}

.icon-holder .tooltip:before {
    background: rgb(82, 75, 114);
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;        
    transform-origin: 50% 50%;
    transform: rotate(45deg) translate(-50%);    
    top: -2px;
    width: 10px;
    z-index: -1;
}

.icon-holder .tooltip-print,
.icon-holder .tooltip-pdf,
.icon-holder .tooltip-edit {
    border: 1px solid rgb(66, 40, 62);
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/* PRINT */
@media print {
    header {
        box-shadow: none;
        padding-left: 20px;
        padding-right: 20px;
    }

    .exception-title, 
    .exception-message {
        display: none;
    }

    .plain-exception {
        border: 0;
        color: #000000;
        display: block; 
    }

    .plain-exception pre {
        font-family: "Helvetica Neue", helvetica, lucida grande, sans-serif;
        font-size: 14px;
        font-weight: 400; 
    }

    .sidebar {
        display: none;
    }

    .code-source,
    .code-source.active {
        display: none;
        visibility: hidden;
    }

    .details-description {
        margin-top: -10px;
    }

    footer {
        display: none;
    }

    @page {
        margin: .25in;
    }
}