* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Nunito", sans-serif;
}

a {
	background-color: #E6EAEF;
	background-image: linear-gradient(-45deg, #E6EAEF, #e4edf1);
	box-shadow: 0 3px 0 0 #b7c3d1, 0 4px 4px -1px rgba(0, 0, 0, 0.6), 0 4px 6px 1px rgba(0, 0, 0, 0.3), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.1) inset;
	color: #495263;
	cursor: pointer;
	font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
	text-decoration: none;
	transition: box-shadow 0.2s, transform 0.2s, color 0.2s;
	user-select: none;
	vertical-align: bottom;
}

a:hover {
	box-shadow: 0 3px 0 0 #b7c3d1, 0 6px 4px -1px rgba(0, 0, 0, 0.3), 0 4px 16px rgba(0, 0, 0, 0.5), 0 1px 2px 1px rgba(0, 0, 0, 0) inset, 0 18px 32px -2px rgba(255, 255, 255, 0.14) inset;
}

a:active {
	box-shadow: 0 0px 0 0 #a8b6c7, 0 3px 0 0 rgba(0, 0, 0, 0), 0 4px 16px rgba(0, 0, 0, 0), 0 1px 2px 1px rgba(0, 0, 0, 0.5) inset, 0 -18px 32px -2px rgba(255, 255, 255, 0.1) inset;
	color: #b7c3d1;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	transition: 0s;
}

/* Modify table of errors in PHP */
table {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
	font-weight: 500; 
	width: 100%;
}

table,
tbody,
tbody,
th,
tr, 
td {
	border: none;
}

table span {
	padding-bottom: 3px;
}

tbody th{
	padding-top: 3px;
}

tbody tr:nth-child(1) th {
	line-height: 1.4em;
	padding-bottom: 2px;
}

tbody tr:nth-child(2) th {
	padding: 3px;
}

tbody tr:nth-child(3) th {
	text-align: left;
	padding: 3px;
}

tbody tr:nth-child(3) th:nth-child(1) {
	text-align: center;
	width: 30px;
}

tbody tr:nth-child(1n) td:nth-child(1) {
	text-align: center;
}

tbody tr:nth-child(3) th:nth-child(2) {
	text-align: right;
	width: 100px;
}

tbody tr:nth-child(3) th:nth-child(3) {
	text-align: right;
	width: 200px;
}

tbody tr:nth-child(1n) td {
	text-align: right;
	padding: 2px;
}

tbody tr:nth-child(1n) td:nth-child(4),
tbody tr:nth-child(1n) td:nth-child(5) {
	text-align: left;
}

.container {
	position: fixed;
	top: 0;
	width: 100%;
}

.font-bold {
	font-weight: 600;
}

.flex {
	display: flex;
}

.flex-col { 
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.items-start {
	align-items: flex-start;
}

.items-center { 
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.justify-end {
	justify-content: end;
}

.letter-spacing {
	letter-spacing: 1.5px;
}

.m-top {
	margin-top: 10px;
}

.m-left {
	margin-left: 10px;
}

.m-right {
	margin-right: 10px;
}

.m-bottom {
	margin-bottom: 10px;
}

.m-full {
	margin: 5px;
}

.p-top {
	padding-top: 10px;
}

.p-left {
	padding-left: 10px;
}

.p-right {
	padding-right: 10px;
}

.p-bottom {
	padding-bottom: 10px;
}

.p-full {
	padding: 5px;
}

.h-200 {
	height: 200px;
}

.h-screen {
	min-height: 100vh;
}

.w-300 {
	width: 300px;
}

.w-screen {
	min-width: 100vw;
}

.bg-gradient { 
	--bg-opacity: 1; 
	background: linear-gradient(120deg, rgba(209, 216, 223, var(--bg-opacity)), rgba(222, 228, 231, var(--bg-opacity)));
	background-size: cover;
	position: relative;
}

.bg-color {
	--text-opacity: 1;
	background: rgba(8, 93, 177, var(--text-opacity));
}

.border-solid {
	border-style: solid;
}

.border-left-solid {
	border-left-style: solid;
}

.border-right-solid {
	border-right-style: solid;
}

.border-color {
	--text-opacity: 1;
	border-color: rgb(211, 217, 223, var(--text-opacity));
}

.border-width {
	border-width: 1px;
}

.border-left-width {
	border-left-width: 1px;
}

.border-right-width {
	border-right-width: 1px;
}

.border-shadow {
	--text-opacity: 1;
	box-shadow: inset 0 -1px 5px rgba(104, 25, 104, var(--text-opacity));
}

.round {
	border-radius: 5px;
}

.text-color {
	--text-opacity: 1;
	color:#ffffff;
	color: rgba(255, 255, 255, var(--text-opacity));
}

.text-color-title {
	--text-opacity: 1;
	color: #5a6672;
	color: rgba(90, 102, 114, var(--text-opacity));
}

.text-color-subtitle {
	--text-opacity: 1;
	color: #4a5d6e;
	color: rgba(74, 93, 110, var(--text-opacity));
}

.text-size-title {
	font-size: 1.8rem;
}

.text-size-subtitle {
	font-size: 1.5rem;
}

.text-shadow {
	--text-opacity: 1;
	text-shadow: 0 2px 1px rgba(128, 135, 143, var(--text-opacity));
}

.tolowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.animated {
	animation: gradient 10s ease-in infinite;
}

@keyframes gradient
{
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@media (min-width: 320px)
{
	.sm\:container {
		width: 100%;
	}

	@media (min-width: 768px)
	{
		.sm\:container {
			max-width: 768px;
		}
	}

	@media (min-width: 1024px)
	{
		.sm\:container {
			max-width: 1024px;
		}
	}

	@media (min-width: 1228px)
	{
		.sm\:container {
			max-width: 1228px;
		}
	}

	.sm\:flex-col {
		flex-direction: column;
	}

	.sm\:flex-row {
		flex-direction: row;
	}

	.sm\:m-top {
		margin-top: 5px;
	}

	.sm\:m-left {
		margin-left: 5px;
	}

	.sm\:m-right {
		margin-right: 5px;
	}

	.sm\:m-bottom {
		margin-bottom: 5px;
	}

	.sm\:p-top {
		padding-top: 5px;
	}

	.sm\:p-left {
		padding-left: 5px;
	}

	.sm\:p-right {
		padding-right: 5px;
	}

	.sm\:p-bottom {
		padding-bottom: 5px;
	}

	.sm\:p-full {
		padding: 5px;
	}

	.sm\:text-size-title {
		font-size: 4rem;
	}
	
	.sm\:text-size-subtitle {
		font-size: 1rem;
	}

	.sm\:text-size-button {
		font-size: 0.9rem;
	}
}

@media (min-width: 1024px)
{
	.md\:flex-col {
		flex-direction: column;
	}

	.md\:flex-row {
		flex-direction: row;
	}

	.md\:m-top {
		margin-top: 20px;
	}

	.md\:m-left {
		margin-left: 10px;
	}

	.md\:m-right {
		margin-right: 10px;
	}

	.md\:m-bottom {
		margin-bottom: -20px;
	}

	.md\:p-top {
		padding-top: 10px;
	}

	.md\:p-bottom {
		padding-bottom: 10px;
	}

	.md\:p-left {
		padding-left: 10px;
	}

	.md\:p-right {
		padding-right: 10px;
	}

	.md\:p-full {
		padding: 10px;
	}

	.md\:text-size-title {
		font-size: 9rem;
	}
	
	.md\:text-size-subtitle {
		font-size: 1.5rem;
	}

	.sm\:text-size-button {
		font-size: 1.2rem;
	}
}