* {	
    box-sizing: border-box;	
    margin: 0; 
    padding: 0; 
}

body { 
    background: rgb(253, 253, 253); 
    color: rgb(134, 143, 160); 
    font-family: 'Nunito', sans-serif; 
    font-weight: 100; 
    margin: 0; 
}

.flex {
	display: flex;
}

.flex-col { 
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.items-start {
	align-items: flex-start;
}

.items-center { 
	align-items: center;
}

.items-end {
	align-items: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

.h-screen { 
    height: 100vh; 
}

.w-screen { 
    width: 100vw; 
}

.bg-gradient { 
	--bg-opacity: 1; 
	background: linear-gradient(120deg, rgba(209, 216, 223, var(--bg-opacity)), rgba(222, 228, 231, var(--bg-opacity)));	
	position: relative;
}

.text-color-title {
	--text-opacity: 1;
	color: #5a6672;
	color: rgba(90, 102, 114, var(--text-opacity));
}

.text-size-title {
    font-size: 0.8rem;
}

.uppercase {
    text-transform: uppercase;
}